# Ignore the virtual environment
venv/
# Ignore the database
db.sqlite3
# Ignore the cache
**/__pycache__/
*.pyc
# Ignore all files in the migrations folder
**/migrations/*
# But keep the __init__.py file (to ensure the folder is included in the repository)
!**/migrations/__init__.py
# Ignore the .env file
.env
